.Container {
  height: 32px;
  background-color: transparent;
  align-items: center;
  width: 100%;
  display: flex;
}

ul, li {
  display: flex;
  flex-direction: row;
  display: inline;
  list-style-type: none; 
}

.animatedLink {
  margin-left: 15px; 
  position: relative;
  display: block;
  transition: 0.5s;
  cursor: pointer;
  color: #FFF9EF;
  text-decoration: none;
  font-size:16px; 
}

.animatedLink::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  background-color: hwb(13 17% 9%);
}

.animatedLink:hover {
  color: hwb(13 17% 9%);
}

.animatedLink:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.selectedLink {
  margin-left: 15px; 
  position: relative;
  display: block;
  transition: 0.5s;
  cursor: pointer;
  color: #FFF9EF;
  text-decoration: none;
  color:hwb(13 17% 9%);
  text-decoration: none;
  font-size:16px; 
}